extends layout

block content
  h1 My RESTful API
  h2 Time Microservice
  p.red Example Usage
  code https://timestamp-christian.herokuapp.com/August 14, 2016
  br
  code https://timestamp-christian.herokuapp.com/1252300213555
  p.red Example Output
  { "unix": 1471233000, "natural": August 14, 2016 }
